body {
    font-family: Lato, Helvetica, Tahoma, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
    background-color: #eee;
    color: #333;
}

h1 {
    text-align: center;
    background-color: #336699;
    color: #FFCC99;
    line-height: 1.7;
    margin-top: 0;
}

h2 {
    background-color: #336639;
    color: #ffeecc;
    line-height: 1.7;
    text-align: center;
}

h3 {
    background-color: #333366;
    color: #dbdfdc;
    line-height: 1.5;
    text-align: center;
}

h4 {
    background-color: rgb(228, 225, 210);
    color: #505052;
    line-height: 1.3;
    font-size: 1.1em;
    text-align: center;
}

a {
    text-decoration: none;
    padding-left: 5px;
    padding-right: 5px;
    color: #0669ac;
    border-bottom: 1px solid #aaa;
}

code, pre, a {
    font-family: Menlo, "Source Code Pro", Consolas, Inconsolata, Monaco, "Courier New", monospace, Helvetica, Tahoma, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}

pre {
    color: #bbc2bf;
    background-color: #282c34;
    padding: 10px 15px;
    box-sizing: border-box;
    border-radius: 10px;
    overflow: auto;
    border: 2px solid #eee;
    line-height: 1.2;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

pre > b {
    color: #f79329;
    font-weight: normal;
}

p {
    line-height: 1.7;
    /*控制宽度*/
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
}

p.hint {
    box-sizing: border-box;
    border-left: 5px solid brown;
    padding-left: 5px;
}

p.emp {
    font-style: italic;
    color: darkred;
    letter-spacing: 1px;
}

p a, ul a, ol a, code {
    /*display: inline-block;*/
    word-wrap: break-word;
    max-width: 100%;
}

body > ul, body > ol {
    /*控制宽度*/
    width: 80%;
    margin: 0 auto;
}

li {
    line-height: 1.7;
    word-wrap: break-word;
    max-width: 95%;
    margin: 0;
    padding: 0;
}

em {
    padding-left: 2px;
    padding-right: 4px;
    color: #000;
    font-weight: 700;
}

code {
    color: #c7254e;
    background-color: #f9f2f4;
    border-radius: 5px;
    margin-left: 3px;
    margin-right: 3px;
}

code.code_in_title {
    background-color: inherit;
}

.title {
    margin-right: 15px;
    margin-left: 0;
}

img {
    max-width: 100%;
    width: 100%;
    text-align: center;
}

@media screen and (max-width: 1080px) {
    body {
        width: 100%;
        font-size: 1rem;
        margin: 0 auto;
    }

    p {
        width: 90%;
    }

    body > ul, body > ol {
        width: 80%;
    }

    a {
        /*display: inline;*/
    }

    pre {
        width: 85%;
    }
}

